<p>task works!</p>
<div id="myBox" class="box container opacityClicked">
  <div class="row">
    <div class="c-1">
      <div class="Square-left"></div>
      <div class="triangle-center" (click)="changeStyle()"></div>
    </div>
    <div class="c-2">
      <div class="Square-top"></div>
      <div id="octagon" class="Square-center"></div>
      <div class="Square-bottom"></div>
    </div>
  </div>
</div>

<ul class="mt-5">
  <li class="one">one</li>
  <li class="two">two</li>
  <li class="three">three</li>
  <li class="four">four</li>
</ul>
