<p>posts works!</p>
<div class="container">
  <nav class="navbar">
    <input
      type="text"
      class="form-control"
      name="title"
      [(ngModel)]="title"
      (ngModelChange)="Search()"
      placeholder="Enter Title In Search"
    />
  </nav>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" (click)="Sort('id')">Id&nbsp;<i class="fa fa-sort"></i></th>
        <th scope="col" (click)="Sort('title')">Title&nbsp;<i class="fa fa-sort"></i></th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts | orderBy: key:reverse | paginate: { itemsPerPage: 2, currentPage: p }">
        <td style="cursor: pointer" [routerLink]="['/post', post.id]" scope="row">{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
      </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table>
</div>
<h1>{{ myError }}</h1>
