<p>chat works!</p>
<main class="chat">
  <div class="container">
    <div class="chat-content">
      <div class="card" style="height: 400px">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let chatMessage of webSocketService.chatMessages">
            <strong>{{ chatMessage.user }}</strong>
            <span>{{ chatMessage.message }}</span>
          </li>
        </ul>
      </div>
    </div>
    <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
      <div class="chat-send row">
        <div class="col-2">
          <input type="text" name="user" class="form-control" ngModel />
        </div>
        <div class="col-8">
          <input type="text" name="message" class="form-control" ngModel />
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</main>
